body{
    background: 0 !important;
    margin: 0;
}
.menu1{
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%)
}
.menu2{
    display: none;
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%)
}
.card-header{
    text-align: center;
}
