html { 
    max-height: 1080px;
    background: url("../img/background.png") no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
}

.container{
    /* Style for "Shape 2" */
    width: 44%;
    height: 83%;
    background-image: url("../img/container.png");
    margin-left: 100px;
    margin-top: 100px;
}

.logo{
    width: 75%;
    padding-top: 30px;
    margin-left: 100px;
}

.login{
    width: 56%;
    padding-top: 10px;
    margin-left: 170px;
}

.login-form{
    width: 63%;
    height: 20%;
    margin-left: 150px;
}

.input{
    width: 100%;
    height: 50%;
    background-image: url("../img/input-box.png") ;
    font-size: 40px;
    padding: 20px;
}

.forget-pass{
    margin-top: 0px;
    margin-right: 160px;
}

.login-button{
    margin-top: 50px;
    text-align: center;
}

.submit{
    background-image: url("../img/login-button.png");
    font-size: 50px;
}

.other-login{
    text-align: center;
}

.center{
    text-align: center;
}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.box{
    width: 50%;
    padding-left: 150px;
}
