<html>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/gstore.css">
	<script src="../js/vue.js"></script>
	<body>
		<div id="app">
			<div class="b3-close" id="close-button" @click="exit">X</div>
			<div class="title" id="id">{{ title }}</div>
			<div class="content">
			   <div v-for="item in items" :style="{ 'background': 'url(../img/item/' + item.model + '.jpg) center', 'background-size': 'cover' }" class="item">
				  <div class="item-bg-color" @mouseover="item.hideText = false" @mouseout="item.hideText = true">
					 <table class="item-table" :class="{ hideText: item.hideText }" border="0" cellpadding="0" cellspacing="0">
						<tr>
						   <td>{{ nameText }}</td>
						   <td class="right">{{ item.title }}</td>
						</tr>
						<tr class="buy" @click="buyItem(item.model, item.price)">
						   <td>{{ priceText }}</td>
						   <td class="right price">{{ prettify(item.price) }}</td>
						</tr>
					 </table>
				  </div>
			   </div>
			</div>
		 </div>
	</body>
</html>


<script>
const app = new Vue({
	el: '#app',
	data: {
		title: "Gstore",
		nameText: "Name",
		priceText: "Buy",
		hideText: true,
		items: [
			{
				hideText: true,
				model: "food",
				title: "Thuc an",
				price: 20000,
			},
			{
				hideText: true,
				model: "beverage",
				title: "Do uong",
				price: 20000,
			},
			{
				hideText: true,
				model: "aidkit",
				title: "Bo cuu thuong",
				price: 20000,
			},
			{
				hideText: true,
				model: "beer",
				title: "Bia",
				price: 25000,
			},
		],
	},
	methods: {
		prettify: function(num) {
			let n = parseFloat(num.toFixed()).toString();
			const separator = " ";
			return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
		},
		buyItem: function(model, itemPrice) {
			const obj = { model: model, id: this.id, };
			console.log("da mua " + model + " " + parseInt(itemPrice));
			mp.trigger("purchaseItemClient", model, parseInt(itemPrice));
			this.exit();
		},

		exit: function() {
			mp.trigger("closeGStore");
		},
	}
});
</script>